-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 127.0.0.1    Database: sport_insight
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `annonce`
--

LOCK TABLES `annonce` WRITE;
/*!40000 ALTER TABLE `annonce` DISABLE KEYS */;
INSERT INTO `annonce` (`id`, `titre`, `description`, `poste_recherche`, `niveau_requis`, `date_publication`, `statut`, `entraineur_id`, `comments_enabled`, `urgent`, `created_at`, `updated_at`) VALUES (2,'aa','aa','aa','aa','2004-08-18','ACTIVE',2,1,0,'2026-04-14 18:11:37','2026-04-14 18:11:37'),(3,'yes','test test test','no','ok','2026-04-14','ACTIVE',3,1,0,'2026-04-14 19:59:33','2026-04-14 19:59:33');
/*!40000 ALTER TABLE `annonce` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `commentaire`
--

LOCK TABLES `commentaire` WRITE;
/*!40000 ALTER TABLE `commentaire` DISABLE KEYS */;
/*!40000 ALTER TABLE `commentaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `contrat_sponsor`
--

LOCK TABLES `contrat_sponsor` WRITE;
/*!40000 ALTER TABLE `contrat_sponsor` DISABLE KEYS */;
INSERT INTO `contrat_sponsor` (`id`, `date_debut`, `date_fin`, `montant`, `description`, `statut`, `notified`, `statut_paiement`, `sponsor_id`, `equipe_id`) VALUES (14,'2026-02-10','2026-03-27',865.00,'gvhbjnk','EXPIRED',1,'',17,3),(15,'2026-02-26','2026-02-28',4156.00,'245cfvbn','EXPIRED',1,'Payé',8,4),(16,'2026-02-03','2026-02-19',54634.00,'kjls','EXPIRED',1,'',28,2),(17,'2026-02-23','2026-02-13',753.00,'kjf,','EXPIRED',1,'',2,2),(18,'2000-12-08','2030-12-08',456.00,'fghjklkjhghjklm','Actif',0,'Non payé',29,1);
/*!40000 ALTER TABLE `contrat_sponsor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `entrainement`
--

LOCK TABLES `entrainement` WRITE;
/*!40000 ALTER TABLE `entrainement` DISABLE KEYS */;
/*!40000 ALTER TABLE `entrainement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `equipe`
--

LOCK TABLES `equipe` WRITE;
/*!40000 ALTER TABLE `equipe` DISABLE KEYS */;
/*!40000 ALTER TABLE `equipe` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `evaluation`
--

LOCK TABLES `evaluation` WRITE;
/*!40000 ALTER TABLE `evaluation` DISABLE KEYS */;
/*!40000 ALTER TABLE `evaluation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `joueur`
--

LOCK TABLES `joueur` WRITE;
/*!40000 ALTER TABLE `joueur` DISABLE KEYS */;
/*!40000 ALTER TABLE `joueur` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `matchs`
--

LOCK TABLES `matchs` WRITE;
/*!40000 ALTER TABLE `matchs` DISABLE KEYS */;
/*!40000 ALTER TABLE `matchs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `order`
--

LOCK TABLES `order` WRITE;
/*!40000 ALTER TABLE `order` DISABLE KEYS */;
INSERT INTO `order` (`id`, `quantity`, `order_date`, `status`, `payment_method`, `payment_status`, `size`, `contact_email`, `contact_phone`, `shipping_address`, `billing_address`, `total_amount`, `product_id`, `entraineur_id`) VALUES (1,1,'2026-03-03','confirmed','cod','pending','XS','ech.7070@gmail.com','26 385 440','ras tabia, Bardo 2000','ras tabia, Bardo 2000',16.00,14,1),(2,1,'2026-03-08','pending','cod','pending','XS','ech.7070@gmail.com','26385440','jnklk, Tunis 2000','jnklk, Tunis 2000',16.00,14,1);
/*!40000 ALTER TABLE `order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `participation`
--

LOCK TABLES `participation` WRITE;
/*!40000 ALTER TABLE `participation` DISABLE KEYS */;
/*!40000 ALTER TABLE `participation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `sponsor`
--

LOCK TABLES `sponsor` WRITE;
/*!40000 ALTER TABLE `sponsor` DISABLE KEYS */;
/*!40000 ALTER TABLE `sponsor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-14 23:22:32
